/*plantilla genérica*/
* {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	--colorNav: white; 
	--colorFondo: lightblue; 
	--colorFooter: #ccffff; 
	--colorFuente: black;
}

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?q600zz');
	src: url('fonts/icomoon.eot?q600zz#iefix') format('embedded-opentype'),
		url('/happypets/fonts/icomoon.ttf?q600zz') format('truetype'),
		url('fonts/icomoon.woff?q600zz') format('woff'),
		url('fonts/icomoon.svg?q600zz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
a{
	text-decoration:none;
}
header {
	display: flex;
	flex-direction: row;
	background-color: var(--colorFondo);
}

.logo {
	position: relative;
	padding: 1% 1% 1% 1%;
}

.ContenedorHeader {
	display: flex;
	position: relative;
	height: 5%;
	width: 80%;
	margin-left: 5%;
	background-color: var(--colorNav);
	padding: 0 5%;
	border-radius: 25px;
}

.secciones {
	position: relative;
	font-size: 1.5vw;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
	text-align: center;
	height: auto;
	position: relative;
	margin-right: 20%;
}

.secciones .boton {
	width: 100%;
	font-size: 1.5vw;
	border: none;
	background-color: var(--colorNav);
}

nav a {
	font-size: 14pt;
	text-decoration: none;
}

.nav1 {
	background-color: var(--colorNav);
	text-align: center;
	height: 5%;
	display: flex;
	width: 50%;
	position: relative;
}

.nav2 {
	background-color: var(--colorNav);
	position: relative;
	font-size: 1.5vw;
	padding-top: 1%;
	padding-bottom: 1%;
	position: relative;
	margin-right: 3%;
	height: auto;
	display: flex;
	margin-left: auto;
	position: relative;
	width: 15%;
}

.secciones2 a {
	text-align: right;
	font-size: 14pt;
	  text-decoration: none;
}
.secciones2 .boton{
	background-color: var(--colorNav);
	border:none;
}
body {
	position: relative;
	background-color: var(--colorFondo);
}

footer {
	background-color: var(--colorNav);
	border-radius: 100px;
	position: relative;
	margin-top: 5%;
	width: 95%;
	margin-left: 2%;
}

footer p {
	text-align: center;
	font-size: 13pt;
	position: relative;
	margin-top: 3%;
}

.ContenedorFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	justify-content:flex-start;
	
}
.contenedorFooter h2{
	margin:0;
	margin-top:4%;
}

.ContenedorFooter  figure {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
}

.redes {
	flex-shrink: 0;
	margin: 10%;
	width: 50%;
}

.redes img {
	width: 100%;
}

.contactos {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-around;
	
}

.contactos>div {
	display: flex;
	width: 25%;
}

.contactos figure {
	margin-left: 5%;
	position: relative;
	width: 20%;
	margin-top:25%;
	
}

.contactos figure>img {
	width: 250%;
	margin-right: 0px;
}

.contactos >div:nth-child(2) h2 {
	width: 100%;
	position: relative;
	margin: auto 1% auto 1%;
	margin-top: 4%;
}


/*/pagina index/*/
figure {
	margin: 0;
}

.MascotaMes {
	margin-top: 5%;
	position: relative;
}

.MascotaMes h2 {
	text-align: center;
}

.ContenedorIMG {
	position: relative;
	width: 40%;
}

.MascotaMes figure {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.MASCMES {
	transition: .5s ease;
	backface-visibility: hidden;
	opacity: 1;
	display: block;
	border-radius: 10%;
	max-width: 100%;
	height: auto;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.ContenedorIMG:hover .MASCMES {
	opacity: 0.3;
}

.ContenedorIMG:hover .middle {
	opacity: 1;
}

.text {
	background-color: var(--colorNav);
	color: var(- -colorFuente);
	font-size: 13pt;
	padding: 16px 32px;
	border-radius: 10%;
}

h2 {
	text-align: center;
	margin-top: 4%;
}

.servicios {
	display: flex;
	flex-direction: row;
	
}

.servicios figure {
	padding: 3%;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:25%;
	min-height:320px;
}

.servicios figcaption {
	text-align: center;
}

.servicios>figure  div {
	display: none;
	width:100%;
}

.servicios>figure:hover  div {
	display: initial;
	text-align: center;
}


/**seccion busqueda cuidadores**/
section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	align-content: center;
}

#search{
	display:flex;
	flex-direction:row;

}
#buscarB{
	 width: 23%;
	    background-color: var(--colorNav);
	     border-radius:23px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
padding:1%;
}
#search > form{
	width: 35%;
	
}
.results{
		background-color:white;
		width: 70%;
		margin-bottom: 2%;
}

.results a{
		    background-color: wheat;
    
    width: 99%;
    padding: 2% 0% 2% 1%;
}
.caracteristicas h4{
	    background-color: beige;
    padding: 1%;
}
.caracteristicas p{
    margin-left: 1%;
     width:13%;
}
.carP{
    display: flex;
    flex-direction: row;	
}
/*/registro del cuidador/*/
.registro {
	text-align: center;
	width: 30%;
}

.registro p {
	padding: 0 0 1% 0;
}

.especiesServicios {
	width: 100%;
}

.access {
	text-align: center;
}

.mascotas {
	    width: 80%;
    margin: 0 auto;
       display: flex;
    flex-direction: column;
    align-items: center;
     
}

.mascotas label{
	    margin-top: 4%;
	     margin-bottom: 2%;
}
.mascotas button{
	 width: 23%;
	    background-color: var(--colorNav);
	     border-radius:23px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
padding:1%;

}
.mascotas >form{
	    display: flex;
    flex-direction: row-reverse;
}
.fotoMascota{
	     width: 50%;
	  height: 300px;
	  margin-bottom:10%;
}
.fotoMascota img{
	 width: 100%;
	 border-radius:10px;
}




.cliente button{
	border:none;
	background-color: var(--colorFondo);
}
.datos{
	text-decoration:underline;
}

.cliente {
	display: flex;
	
	   width: 50%;
    text-align: center;
    display: flex;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    margin:0 auto;
	
}
.cliente > form{
	width:100%;
}



#editar {
	    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin-top:3%;
}
#editar:nth-child(2)  {
	  background-color: beige;

	}
#editar button{
	    width: 33%;
	    background-color: var(--colorNav);
	     border-radius:20px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	border:none;
	padding:1%;
	
}
.perfil2{
		width:95%;
		    display: flex;
    flex-direction: row-reverse;
}
.cuidador {
       width: 29%;
    margin-left: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#buttons{
	margin-top:3%;
		    width: 23%;
	    background-color: var(--colorNav);
	     border-radius:8px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}
#datos{
	    width: 23%;
}


/*/historial de contratos del cliente/*/
.seccionesHistorial {
	display: flex;
	flex-direction: row;
	margin-left: 5%;
}

.perfil {
	padding: 0 2% 0 2%;
}

.perfil button {
	background-color: white;
	
	font-size: 1.2rem;
	border: none;
	display: block;
}


.perfil:hover div{
	display:flex;
}

.perfil div:hover {
	display: flex;
}

.perfil div {
	position: absolute;
	background-color: white;
	padding: 0 2% 0 2%;
	top: 90%;
	display: none;
	flex-direction:column;
	-webkit-box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.perfil div a{
	margin-bottom: 2%;
}
body>div>div:nth-child(1) {
	justify-content: space-between;
}

body>div>div:nth-child(2) {
    justify-content: space-between;
   
    margin-left: 7%;

}

body>div>div:nth-child(3) {
	justify-content: space-between;
}

.mascotas1 img {
	height: 250px;
}

#usuarioNull {
	text-align: center;
}

#nulo {
	width: "550px";
	height: "450px";
}

#null {
	align-items: center;
	position: relative;
}

/*****Puntuaciones*****/
.full-star:after {
	content: "\e9d9";
	font-family: 'icomoon';
	font-size: 1.7rem;
}

.star:after {
	content: "\e9d7";
	font-family: 'icomoon';
	font-size: 1.7rem;
}

.half-star:after {
	content: "\e9d8";
	font-family: 'icomoon';
	font-size: 1.7rem;
}

#access{
	    width: 25%;
    background-color: white;
    text-align: center;
    display: flex;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    margin:0 auto;
    border-radius:8px;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
}
#formLogin{
	    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#formLogin label:nth-child(9){
	    margin-top: 8%;
}
#formLogin label{
	    margin-top: 4%;
	     margin-bottom: 4%;
}

#contHistorial{
	    display: flex;
    justify-content: center;
}

#historial {
    width: 50%;
}

.seccionesHistorial{
	    display: flex;
    flex-direction: row;
    margin-left: 5%;
    justify-content: space-around;
        background-color: beige;
}
#contenedor{
	    display: flex;
    flex-direction: row;
    padding: 2% 10% 0% 10%;
    justify-content: space-between;
     background-color: white;
    margin-left: 5%;
    margin-bottom:4%;
    padding-bottom:2%;
     
}
#contenedor button{
	    margin-bottom: 5%;
	    display: flex;
	     flex-direction: column;
}
.seccionesHistorial2{
	    flex-direction: column;
	      
}
.seccionesHistorial3{
	    flex-direction: column;
    justify-content: end;
       
}
.seccionesHistorial3 button{
  background-color: beige;
	     border-radius:8px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
       
}
.seccionesDetail{
	    display: flex;
    flex-direction: row;
     width:90%;
     margin:0 auto;
    justify-content: space-around;
        background-color: white;
}
.seccionesDetail p{
	   width:13%;
}
#titulosHistorial{
	  display: flex;
    flex-direction: row;
   width:90%;
      margin:0 auto;
    justify-content: space-around;
        background-color: beige;
}
#titulosHistorial p{
	    width:13%;
}
#contador{
	  margin-left: 5%;
}
.botonesHistorial{
	margin-bottom:1%;
    display: flex;
    justify-content: flex-end;
    width: 90%;
   margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.botonesHistorial button{
	 background-color: beige;
	     border-radius:8px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}
.detailCuid{
	  display: flex;
    flex-direction: row;
   width:90%;
      margin:0 auto;
    justify-content: space-around;
        background-color: beige;
          margin-top: 2%;
         
}
.detailP{
	  display: flex;
    flex-direction: row;
     margin-bottom: 2%;
    justify-content: space-around;
      background-color: white;
        width:90%;
         margin:0 auto;
}
#imgCuid{
	    width: 90%;
    margin-left: 25%;
   
}
#imgCuid img{
	    width: 50%;
    border-radius: 10px;
}


#botContratar{
	  background-color: white;
	     border-radius:30px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
margin-top:2%;
margin-left:40%;
width:23%;
padding:1%;
}

.seccionesHistorialCuid {
	display: flex;
	flex-direction: row;
	margin-left: 5%;
}
#contHistorial form{
	width:90%;
}
#comentario{
	 
    margin-left: 5%;
    display: flex;
    margin-top: 2%;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#comentario button{
	  background-color: white;
	     border-radius:30px;
	    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
padding:1%;
}
